{% extends 'layout.html.twig' %}

{% block content %}
    <div id="content">            
        <div class="container">
            <div class="row">
                <!-- MAIN CONTENT
                ================= -->
                <main id="main-content" class="col-md-8">

                    <!-- BREAKING NEWS -->
                    <section class="breaking-news">
                        <header>
                            <h4>Breaking News</h4>
                            <i class="triangle"></i>
                        </header>
                        <div class="content">
                            <ul>
                                <li><a href="#"><i class="fa fa-angle-double-right"></i> Donec nec mi non metus ullamcorper suscipit</a></li>
                                <li><a href="#"><i class="fa fa-angle-double-right"></i> Morbi auctor massa mi, tempus placerat orci tempor molestie</a></li>
                                <li><a href="#"><i class="fa fa-angle-double-right"></i> Praesent et dolor velit</a></li>
                                <li><a href="#"><i class="fa fa-angle-double-right"></i> Aenean porta diam non elit iaculis, a tristique ligula laoreet</a></li>
                            </ul>
                        </div>
                    </section>                                                                                                

                    <!-- ADS WIDGET -->
                    <section class="widget">
                        <!-- Widget Content -->
                        <div class="frame thick">                                
                            <a href="http://themeforest.net/user/friskamax/portfolio?ref=friskamax" target="_blank">
                                <img src="http://placehold.it/728x90/f0f0f9" alt="ads">
                            </a>                                
                        </div>
                        <img src="/assets/img/shadow.png" alt="shadow" class="shadow">                                                        
                    </section>

                    <article class="article-large">
                        <!--frame-->
                        <div class="frame thick">
                            <a href="#" class="image">
                                <figure class="image-holder">
                                    <img src="http://placehold.it/730x370.jpg" alt="Mountain Consectetur Adipiscing Elit In Quis Lacus a Odio Suscipit Luctus">
                                </figure>
                                <div class="image-light"></div>
                            </a>

                            <!--icons-->
                            <div class="icons">
                                <a href="#" title="Siska"><img src="http://placehold.it/75x75.jpg" alt="Siska"></a>
                                <a href="#" title="Post format image"><i class="dashicons dashicons-format-image"></i></a>

                                <a href="#" title="347 Comments"><i class="fa fa-comments"></i><span class="comment">347</span></a>
                            </div>

                            <h4><a href="#">When will I learn? The answers to life's problems aren't at the bottom of a bottle, they're on TV!</a></h4>
                            <p class="post-meta"><a href="#">Thursday, January 09, 2014 at 11:42 AM</a></p>
                        </div>                            
                        <img src="/assets/img/shadow.png" class="shadow" alt="shadow">

                            <!--Content-->
                            <p>
                                Unde omnis iste natus error sit voluptatem facilisis ut odio. Vestibulum, totam rem aperiam, eaque ipsa 
                                quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam 
                                voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui...
                            </p>

                            <!--Footer-->
                            <div class="footer">
                                <ul class="tags">
                                    <li><a href="#">ellentesque</a></li>
                                    <li><a href="#">molestie</a></li>
                                    <li><a href="#">nisl</a></li>
                                    <li><a href="#">tempus</a></li>
                                    <li><a href="#">enim</a></li>
                                    <li><a href="#">imperdiet</a></li>
                                </ul> 
                                <div class="read-more">
                                    <button class="btn btn-primary btn-sm">Read More</button> 
                                </div>
                            </div>                                                          
                    </article>   

                    <article class="article-large">
                        <!--frame-->
                        <div class="frame thick">
                            <div class="featured-media gallery">
                                <div id="featured-gallery" class="carousel slide carousel-medium" data-ride="carousel">
                                    <!-- Carousel contents -->
                                    <div class="carousel-inner">
                                        <a class="item image active" href="http://placehold.it/1024x512.jpg" data-lightbox-gallery="featured-gallery" title="Stones lacus nisl, suscipit ut orci ut, gravida dapibus neque Interdum et malesuada">
                                            <img src="http://placehold.it/730x370.jpg" alt="Stones lacus nisl, suscipit ut orci ut, gravida dapibus neque Interdum et malesuada">
                                        </a>
                                        <a class="item image" href="http://placehold.it/1024x512.jpg" data-lightbox-gallery="featured-gallery" title="Turpis egestas Curabitur scelerisque sagittis lectus ac consequat Mauris dictum sollicitudin tincidunt">
                                            <img src="http://placehold.it/730x370.jpg" alt="Turpis egestas Curabitur scelerisque sagittis lectus ac consequat Mauris dictum sollicitudin tincidunt">
                                        </a>
                                    </div>

                                    <!-- Light -->
                                    <div class="image-light"></div>

                                    <!-- Carousel Controls -->
                                    <a class="left carousel-control" href="#featured-gallery" data-slide="prev"><span class="fa fa-chevron-left"></span></a>
                                    <a class="right carousel-control" href="#featured-gallery" data-slide="next"><span class="fa fa-chevron-right"></span></a>
                                </div>
                            </div>

                            <!--icons-->
                            <div class="icons">
                                <a href="#" title="Siska"><img src="http://placehold.it/75x75.jpg" alt="Siska"></a>
                                <a href="#" title="Post format gallery"><i class="dashicons dashicons-format-gallery"></i></a>

                                <a href="#" title="347 Comments"><i class="fa fa-comments"></i><span class="comment">347</span></a>
                            </div>

                            <h4><a href="#">I don't want to talk to you no more, you empty-headed animal food trough water!</a></h4>
                            <p class="post-meta"><a href="#">Thursday, January 09, 2014 at 11:42 AM</a></p>
                        </div>                            
                        <img src="/assets/img/shadow.png" class="shadow" alt="shadow">

                            <!--Content-->
                            <p>
                                Unde omnis iste natus error sit voluptatem facilisis ut odio. Vestibulum, totam rem aperiam, eaque ipsa 
                                quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam 
                                voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui...
                            </p>

                            <!--Footer-->
                            <div class="footer">
                                <ul class="tags">
                                    <li><a href="#">ellentesque</a></li>
                                    <li><a href="#">molestie</a></li>
                                    <li><a href="#">nisl</a></li>
                                    <li><a href="#">tempus</a></li>
                                    <li><a href="#">enim</a></li>
                                    <li><a href="#">imperdiet</a></li>
                                </ul> 
                                <div class="read-more">
                                    <button class="btn btn-primary btn-sm">Read More</button> 
                                </div>
                            </div>                                                          
                    </article>   

                    <article class="article-large">
                        <!--frame-->
                        <div class="frame thick">
                            <div class="featured-media video">
                                <iframe width="100%" height="370" src="//www.youtube.com/embed/2vjPBrBU-TM" allowfullscreen></iframe>
                            </div>

                            <!--icons-->
                            <div class="icons">
                                <a href="#" title="Siska"><img src="http://placehold.it/75x75.jpg" alt="Siska"></a>
                                <a href="#" title="Post format video"><i class="dashicons dashicons-format-video"></i></a>

                                <a href="#" title="347 Comments"><i class="fa fa-comments"></i><span class="comment">347</span></a>
                            </div>

                            <h4><a href="#">Sia - Chandelier (Official Video)</a></h4>
                            <p class="post-meta"><a href="#">Thursday, January 09, 2014 at 11:42 AM</a></p>
                        </div>                            
                        <img src="/assets/img/shadow.png" class="shadow" alt="shadow">

                            <!--Content-->
                            <p>
                                Unde omnis iste natus error sit voluptatem facilisis ut odio. Vestibulum, totam rem aperiam, eaque ipsa 
                                quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam 
                                voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui...
                            </p>

                            <!--Footer-->
                            <div class="footer">
                                <ul class="tags">
                                    <li><a href="#">ellentesque</a></li>
                                    <li><a href="#">molestie</a></li>
                                    <li><a href="#">nisl</a></li>
                                    <li><a href="#">tempus</a></li>
                                    <li><a href="#">enim</a></li>
                                    <li><a href="#">imperdiet</a></li>
                                </ul> 
                                <div class="read-more">
                                    <button class="btn btn-primary btn-sm">Read More</button> 
                                </div>
                            </div>                                                          
                    </article>   

                    <article class="article-large">
                        <!--frame-->
                        <div class="frame thick">
                            <div class="featured-media audio">
                                <iframe width="100%" height="370" scrolling="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/23619424&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
                            </div>

                            <!--icons-->
                            <div class="icons">
                                <a href="#" title="Siska"><img src="http://placehold.it/75x75.jpg" alt="Siska"></a>
                                <a href="#" title="Post format audio"><i class="dashicons dashicons-format-audio"></i></a>

                                <a href="#" title="347 Comments"><i class="fa fa-comments"></i><span class="comment">347</span></a>
                            </div>

                            <h4><a href="#">Demi Lovato - Skyscraper</a></h4>
                            <p class="post-meta"><a href="#">Thursday, January 09, 2014 at 11:42 AM</a></p>
                        </div>                            
                        <img src="/assets/img/shadow.png" class="shadow" alt="shadow">

                            <!--Content-->
                            <p>
                                Unde omnis iste natus error sit voluptatem facilisis ut odio. Vestibulum, totam rem aperiam, eaque ipsa 
                                quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam 
                                voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui...
                            </p>

                            <!--Footer-->
                            <div class="footer">
                                <ul class="tags">
                                    <li><a href="#">ellentesque</a></li>
                                    <li><a href="#">molestie</a></li>
                                    <li><a href="#">nisl</a></li>
                                    <li><a href="#">tempus</a></li>
                                    <li><a href="#">enim</a></li>
                                    <li><a href="#">imperdiet</a></li>
                                </ul> 
                                <div class="read-more">
                                    <button class="btn btn-primary btn-sm">Read More</button> 
                                </div>
                            </div>                                                          
                    </article>   

                    <article class="article-large">
                        <!--frame-->
                        <div class="frame thick">
                            <div class="featured-media quote">
                                <blockquote>
                                    <p>
                                        Why would a robot need to drink? We'll go deliver this crate like professionals, and then we'll go home. 
                                        Ah, the 'Breakfast Club' soundtrack! I can't wait til I'm old enough to feel ways about stuff!
                                    </p>
                                    <footer>Someone famous in <cite title="Source Title"><a href="#">Source Title</a></cite></footer>
                                </blockquote>
                            </div>

                            <!--icons-->
                            <div class="icons">
                                <a href="#" title="Post format quote"><i class="dashicons dashicons-format-quote"></i></a>
                            </div>

                            <h4><a href="#">Kif Gets Knocked Up A Notch</a></h4>
                            <p class="post-meta"><a href="#">Thursday, January 09, 2014 at 11:42 AM</a></p>
                        </div>                            
                        <img src="/assets/img/shadow.png" class="shadow" alt="shadow">

                            <!--Content-->
                            <p>
                                Unde omnis iste natus error sit voluptatem facilisis ut odio. Vestibulum, totam rem aperiam, eaque ipsa 
                                quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam 
                                voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui...
                            </p>

                            <!--Footer-->
                            <div class="footer">
                                <ul class="tags">
                                    <li><a href="#">ellentesque</a></li>
                                    <li><a href="#">molestie</a></li>
                                    <li><a href="#">nisl</a></li>
                                    <li><a href="#">tempus</a></li>
                                    <li><a href="#">enim</a></li>
                                    <li><a href="#">imperdiet</a></li>
                                </ul> 
                                <div class="read-more">
                                    <button class="btn btn-primary btn-sm">Read More</button> 
                                </div>
                            </div>                                                          
                    </article>   

                    <article class="article-large">
                        <!--frame-->
                        <div class="frame thick">
                            <div class="featured-media link">
                                <a href="http://themeforest.net/user/friskamax/portfolio?ref=friskamax">http://themeforest.net/user/friskamax/portfolio</a>
                            </div>

                            <!--icons-->
                            <div class="icons">
                                <a href="#" title="Post format link"><i class="dashicons dashicons-format-link"></i></a>
                            </div>

                            <h4><a href="#">I'm going to tell you something that I've never told anyone before</a></h4>
                            <p class="post-meta"><a href="#">Thursday, January 09, 2014 at 11:42 AM</a></p>
                        </div>                            
                        <img src="/assets/img/shadow.png" class="shadow" alt="shadow">

                            <!--Content-->
                            <p>
                                Unde omnis iste natus error sit voluptatem facilisis ut odio. Vestibulum, totam rem aperiam, eaque ipsa 
                                quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam 
                                voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui...
                            </p>

                            <!--Footer-->
                            <div class="footer">
                                <ul class="tags">
                                    <li><a href="#">ellentesque</a></li>
                                    <li><a href="#">molestie</a></li>
                                    <li><a href="#">nisl</a></li>
                                    <li><a href="#">tempus</a></li>
                                    <li><a href="#">enim</a></li>
                                    <li><a href="#">imperdiet</a></li>
                                </ul> 
                                <div class="read-more">
                                    <button class="btn btn-primary btn-sm">Read More</button> 
                                </div>
                            </div>                                                          
                    </article>   

                    <article class="article-large">
                        <!--frame-->
                        <div class="frame thick">
                            <div class="featured-media status">
                                <div class="status-content">
                                    Well, I got better. It's only a model. You don't vote for kings. 
                                    He hasn't got shit all over him. On second thoughts, let's not go there. 
                                    It is a silly place. Ah, now we see the violence inherent in the system!
                                </div>
                            </div>

                            <!--icons-->
                            <div class="icons">
                                <a href="#" title="Post format status"><i class="dashicons dashicons-format-status"></i></a>
                            </div>

                            <h4><a href="#">Sets The Cinema Back 900 Years!</a></h4>
                            <p class="post-meta"><a href="#">Thursday, January 09, 2014 at 11:42 AM</a></p>
                        </div>                            
                        <img src="/assets/img/shadow.png" class="shadow" alt="shadow">


                            <!--Footer-->
                            <div class="footer">
                                <ul class="tags">
                                    <li><a href="#">ellentesque</a></li>
                                    <li><a href="#">molestie</a></li>
                                    <li><a href="#">nisl</a></li>
                                    <li><a href="#">tempus</a></li>
                                    <li><a href="#">enim</a></li>
                                    <li><a href="#">imperdiet</a></li>
                                </ul> 
                                <div class="read-more">
                                    <button class="btn btn-primary btn-sm">Read More</button> 
                                </div>
                            </div>                                                          
                    </article>   

                    <article class="article-large">
                        <!--frame-->
                        <div class="frame thick">
                            <div class="featured-media aside">
                                <div class="aside-content">
                                    I find your lack of faith disturbing. Dantooine. They're on Dantooine. 
                                    Hokey religions and ancient weapons are no match for a good blaster at your side, kid. 
                                    I can't get involved! I've got work to do! It's not that I like the Empire, I hate it, 
                                    but there's nothing I can do about it right now. 
                                </div>
                            </div>

                            <!--icons-->
                            <div class="icons">
                                <a href="#" title="Post format aside"><i class="dashicons dashicons-format-aside"></i></a>
                            </div>

                            <p class="post-meta"><a href="#">Thursday, January 09, 2014 at 11:42 AM</a></p>
                        </div>                            
                        <img src="/assets/img/shadow.png" class="shadow" alt="shadow">


                            <!--Footer-->
                            <div class="footer">
                                <ul class="tags">
                                    <li><a href="#">ellentesque</a></li>
                                    <li><a href="#">molestie</a></li>
                                    <li><a href="#">nisl</a></li>
                                    <li><a href="#">tempus</a></li>
                                    <li><a href="#">enim</a></li>
                                    <li><a href="#">imperdiet</a></li>
                                </ul> 
                                <div class="read-more">
                                    <button class="btn btn-primary btn-sm">Read More</button> 
                                </div>
                            </div>                                                          
                    </article>   

                    <article class="article-large">
                        <!--frame-->
                        <div class="frame thick">
                            <div class="featured-media chat">
                                <div class="chat-content">
                                    <p>Fahri: Get me a vodka rocks. And a piece of toast.</p>
                                    <p>Siska: I don't understand the question, and I won't respond to it.</p>
                                    <p>Fahri: No… but I'd like to be asked! Steve Holt! It's called 'taking advantage.</p>
                                    <p>Siska: It's what gets you ahead in life.</p>
                                    <p>Fahri: But I bought a yearbook ad from you, doesn't that mean anything anymore?</p>
                                    <p>Siska: Did you enjoy your meal, Mom? You drank it fast enough.</p>
                                    <p>Fahri: I'm a monster. I care deeply for nature.</p>
                                </div>
                            </div>

                            <!--icons-->
                            <div class="icons">
                                <a href="#" title="Siska"><img src="http://placehold.it/75x75.jpg" alt="Siska"></a>
                                <a href="#" title="Post format chat"><i class="dashicons dashicons-format-chat"></i></a>

                                <a href="#" title="347 Comments"><i class="fa fa-comments"></i><span class="comment">347</span></a>
                            </div>

                            <h4><a href="#">Get me a vodka rocks</a></h4>
                            <p class="post-meta"><a href="#">Thursday, January 09, 2014 at 11:42 AM</a></p>
                        </div>                            
                        <img src="/assets/img/shadow.png" class="shadow" alt="shadow">


                            <!--Footer-->
                            <div class="footer">
                                <ul class="tags">
                                    <li><a href="#">ellentesque</a></li>
                                    <li><a href="#">molestie</a></li>
                                    <li><a href="#">nisl</a></li>
                                    <li><a href="#">tempus</a></li>
                                    <li><a href="#">enim</a></li>
                                    <li><a href="#">imperdiet</a></li>
                                </ul> 
                                <div class="read-more">
                                    <button class="btn btn-primary btn-sm">Read More</button> 
                                </div>
                            </div>                                                          
                    </article>   


                    <!-- PAGINATION -->
                    <ul class="pagination">
                        <li><a href="#" title="prev"><i class="fa fa-angle-double-left"></i></a></li>
                        <li class="divider"></li>
                        <li><a href="#">1</a></li>
                        <li class="active"><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li class="divider"></li>
                        <li><a href="#" title="next"><i class="fa fa-angle-double-right"></i></a></li>
                    </ul>
                </main><!--#main-content-->

                <!-- SIDEBAR 
                ============ -->
                <aside class="col-md-4">
                    <div class="row">
                       

                        <!-- SOCIALS WIDGET -->
                        <section class="col-sm-6 col-md-12 widget">
                            <!-- Widget header -->
                            <header class="clearfix"><h4>Socials Media</h4></header>

                            <!-- Widget content -->
                            <ul class="social clearfix">
                                <li><a href="#" title="Facebook "><span class="sc-md sc-facebook"></span></a></li>
                                <li><a href="#" title="Twitter"><span class="sc-md sc-twitter"></span></a></li>
                                <li><a href="#" title="YouTube"><span class="sc-md sc-youtube"></span></a></li>
                                <li><a href="#" title="LinkedIn"><span class="sc-md sc-linkedin"></span></a></li>
                                <li><a href="#" title="Google+"><span class="sc-md sc-googleplus"></span></a></li>
                                <li><a href="#" title="Instagram"><span class="sc-md sc-instagram"></span></a></li>
                                <li><a href="#" title="Pinterest"><span class="sc-md sc-pinterest"></span></a></li>
                                <li><a href="#" title="SoundCloud"><span class="sc-md sc-soundcloud"></span></a></li>
                                <li><a href="#" title="Flickr"><span class="sc-md sc-flickr"></span></a></li>
                                <li><a href="#" title="Myspace "><span class="sc-md sc-myspace"></span></a></li>
                                <li><a href="#" title="deviantART"><span class="sc-md sc-deviantart"></span></a></li>
                                <li><a href="#" title="Vimeo"><span class="sc-md sc-vimeo"></span></a></li>
                                <li><a href="#" title="XING"><span class="sc-md sc-xing"></span></a></li>
                                <li><a href="#" title="Last.fm"><span class="sc-md sc-lastfm"></span></a></li>
                                <li><a href="#" title="Tumblr"><span class="sc-md sc-tumblr"></span></a></li>
                                <li><a href="#" title="Behance"><span class="sc-md sc-behance"></span></a></li>
                                <li><a href="#" title="GitHub"><span class="sc-md sc-github"></span></a></li>
                                <li><a href="#" title="Dribbble "><span class="sc-md sc-dribbble"></span></a></li>
                            </ul>
                        </section>

                        <!-- GALLERY WIDGET -->
                        <section class="col-sm-6 col-md-12 widget no-mobile">
                            <!-- Widget Header -->
                            <header class="clearfix">
                                <h4>Gallery</h4>
                                <a href="#carousel-small" class="control" data-slide="next">
                                    <i class="fa fa-chevron-right"></i>
                                </a> 
                                <a href="#carousel-small" class="control" data-slide="prev">
                                    <i class="fa fa-chevron-left"></i>
                                </a>   

                            </header>

                            <!-- Widget content: carousel gallery -->
                            <div id="carousel-small" class="carousel slide carousel-small frame" data-ride="carousel">
                                <div class="carousel-inner">    
                                    <div class="item active">
                                        <a href="http://placehold.it/1024x512.jpg" title="Nunc ut dolor nec mi posuere tincidunt quis ut sem Praesent pharetra eget" data-lightbox-gallery="gallery-small">
                                            <div data-src="http://placehold.it/350x185" data-alt="Nunc ut dolor nec mi posuere tincidunt quis ut sem Praesent pharetra eget"></div>
                                            <div class="image-light"></div>
                                        </a>
                                        <div class="caption">
                                            <h5>Nunc ut dolor nec mi posuere tincidunt quis ut sem Praesent pharetra eget</h5>
                                        </div>
                                    </div>

                                    <div class="item">
                                        <a href="http://placehold.it/1024x512.jpg" title="vestibulum ultricies Ut sollicitudin eget massa et lobortis" data-lightbox-gallery="gallery-small">
                                            <div data-src="http://placehold.it/350x185" data-alt="vestibulum ultricies Ut sollicitudin eget massa et lobortis"></div>
                                            <div class="image-light"></div>
                                        </a>
                                        <div class="caption">
                                            <h5>vestibulum ultricies Ut sollicitudin eget massa et lobortis</h5>
                                        </div>
                                    </div> 

                                    <div class="item">
                                        <a href="http://placehold.it/1024x512.jpg" title="Bird Profile Wellington New Zealand Vivamus ac neque sed" data-lightbox-gallery="gallery-small">
                                            <div data-src="http://placehold.it/350x185" data-alt="Bird Profile Wellington New Zealand Vivamus ac neque sed"></div>
                                            <div class="image-light"></div>
                                        </a>
                                        <div class="caption">
                                            <h5>Bird Profile Wellington New Zealand Vivamus ac neque sed</h5>
                                        </div>
                                    </div> 

                                    <div class="item">
                                        <a href="http://placehold.it/1024x512.jpg" title="dui placerat dictum Suspendisse ut justo venenatis imperdiet" data-lightbox-gallery="gallery-small">
                                            <div data-src="http://placehold.it/350x185" data-alt="dui placerat dictum Suspendisse ut justo venenatis imperdiet"></div>
                                            <div class="image-light"></div>
                                        </a>
                                        <div class="caption">
                                            <h5>dui placerat dictum Suspendisse ut justo venenatis imperdiet</h5>
                                        </div>
                                    </div> 
                                </div><!--.carousel-inner-->                           
                            </div><!--.carousel-->

                            <!--Shadow-->
                            <img src="/assets/img/shadow.png" class="shadow" alt="shadow">
                        </section>

                       

                        <!-- YOUTUBE WIDGET -->
                        <section class="col-sm-6 col-md-12 widget">
                            <!-- Widget Header -->
                            <header class="clearfix"><h4>Youtube Video</h4></header>

                            <!-- Widget content: Youtube embed code -->
                            <iframe width="360" height="203" src="//www.youtube.com/embed/3AhivlZO0us" allowfullscreen></iframe>
                        </section> 

                        <!-- TABS WIDGET -->
                        <section class="col-sm-6 col-md-12 widget">
                            <!-- Tab menus -->
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#popular-aside" data-toggle="tab">Popular</a></li>
                                <li><a href="#recent-aside" data-toggle="tab">Recent</a></li>
                                <li><a href="#comments-aside" data-toggle="tab">Comments</a></li>
                            </ul>

                            <!-- Tab contents -->
                            <div class="tab-content">
                                <!--Popular-->
                                <div class="tab-pane active fade in" id="popular-aside">
                                    <div class="article-tiny">
                                        <a href="#" class="image">
                                            <figure class="image-holder">
                                                <img src="http://placehold.it/95x75" alt="Mauris mattis ullamcorper euismod Nulla convallis ">
                                            </figure>
                                            <div class="image-light"></div>
                                            <span class="dashicons dashicons-format-gallery"></span>
                                        </a>
                                        <h5><a href="#">Mauris mattis ullamcorper euismod Nulla convallis</a></h5>
                                        <p class="post-meta">
                                            <a href="#"><span class="fa fa-clock-o"></span> Jan 4, 2014</a> &nbsp;
                                            <a href="#"><span class="fa fa-folder"></span> Travel</a>
                                        </p>
                                    </div>
                                    <hr>

                                    <div class="article-tiny">
                                        <a href="#" class="image">
                                            <figure class="image-holder">
                                                <img src="http://placehold.it/95x75" alt="Nulla vitae velit ac velit luctus facilisis dictum Mauris malesuada ante ut gravida condimentum">
                                            </figure>
                                            <div class="image-light"></div>
                                            <span class="dashicons dashicons-format-audio"></span>
                                        </a>
                                        <h5><a href="#">Nulla vitae velit ac velit luctus facilisis dictum Mauris malesuada ante ut gravida condimentum</a></h5>
                                        <p class="post-meta">
                                            <a href="#"><span class="fa fa-clock-o"></span> Jan 4, 2014</a> &nbsp;
                                            <a href="#"><span class="fa fa-folder"></span> Science</a>
                                        </p>
                                    </div>
                                    <hr>

                                    <div class="article-tiny">
                                        <a href="#" class="image">
                                            <figure class="image-holder">
                                                <img src="http://placehold.it/95x75" alt="Nulla id eros ut nibh hendrerit sollicitudin ">
                                            </figure>
                                            <div class="image-light"></div>
                                            <span class="dashicons dashicons-format-links"></span>
                                        </a>
                                        <h5><a href="#">Nulla id eros ut nibh hendrerit sollicitudin</a></h5>
                                        <p class="post-meta">
                                            <a href="#"><span class="fa fa-clock-o"></span> Jan 4, 2014</a> &nbsp;
                                            <a href="#"><span class="fa fa-folder"></span> National</a>
                                        </p>
                                    </div>
                                    <hr>

                                    <div class="article-tiny">
                                        <a href="#" class="image">
                                            <figure class="image-holder">
                                                <img src="http://placehold.it/95x75" alt="ornare nibh Nunc semper dolor quis augue venenatis ">
                                            </figure>
                                            <div class="image-light"></div>
                                            <span class="dashicons dashicons-format-links"></span>
                                        </a>
                                        <h5><a href="#">ornare nibh Nunc semper dolor quis augue venenatis</a></h5>
                                        <p class="post-meta">
                                            <a href="#"><span class="fa fa-clock-o"></span> Jan 4, 2014</a> &nbsp;
                                            <a href="#"><span class="fa fa-folder"></span> Health</a>
                                        </p>
                                    </div>
                                    <hr>
                                </div>

                                <!--Recent-->
                                <div class="tab-pane fade" id="recent-aside">
                                    <div class="article-tiny">
                                        <a href="#" class="image">
                                            <figure class="image-holder">
                                                <img src="http://placehold.it/95x75" alt="Day of the dead Maecenas odio condimentum a libero ">
                                            </figure>
                                            <div class="image-light"></div>
                                            <span class="dashicons dashicons-format-gallery"></span>
                                        </a>
                                        <h5><a href="#">Day of the dead Maecenas odio condimentum a libero</a></h5>
                                        <p class="post-meta">
                                            <a href="#"><span class="fa fa-clock-o"></span> Jan 4, 2014</a> &nbsp;
                                            <a href="#"><span class="fa fa-folder"></span> National</a>
                                        </p>
                                    </div>
                                    <hr>

                                    <div class="article-tiny">
                                        <a href="#" class="image">
                                            <figure class="image-holder">
                                                <img src="http://placehold.it/95x75" alt="Nulla vitae velit ac velit luctus facilisis dictum Mauris malesuada ante ut gravida condimentum">
                                            </figure>
                                            <div class="image-light"></div>
                                            <span class="dashicons dashicons-format-audio"></span>
                                        </a>
                                        <h5><a href="#">Morocco molestie hendrerit magna Morbi tristique</a></h5>
                                        <p class="post-meta">
                                            <a href="#"><span class="fa fa-clock-o"></span> Jan 4, 2014</a> &nbsp;
                                            <a href="#"><span class="fa fa-folder"></span> Politics</a>
                                        </p>
                                    </div>
                                    <hr>

                                    <div class="article-tiny">
                                        <a href="#" class="image">
                                            <figure class="image-holder">
                                                <img src="http://placehold.it/95x75" alt="Nulla id eros ut nibh hendrerit sollicitudin ">
                                            </figure>
                                            <div class="image-light"></div>
                                            <span class="dashicons dashicons-format-links"></span>
                                        </a>
                                        <h5><a href="#">Douglas X3 Nulla id eros ut nibh hendrerit sollicitudin</a></h5>
                                        <p class="post-meta">
                                            <a href="#"><span class="fa fa-clock-o"></span> Jan 4, 2014</a> &nbsp;
                                            <a href="#"><span class="fa fa-folder"></span> Science</a>
                                        </p>
                                    </div>
                                    <hr>

                                    <div class="article-tiny">
                                        <a href="#" class="image">
                                            <figure class="image-holder">
                                                <img src="http://placehold.it/95x75" alt="ornare nibh Nunc semper dolor quis augue venenatis ">
                                            </figure>
                                            <div class="image-light"></div>
                                            <span class="dashicons dashicons-format-links"></span>
                                        </a>
                                        <h5><a href="#">Nepal ornare nibh Nunc semper purus sit amet rhoncus imperdiet</a></h5>
                                        <p class="post-meta">
                                            <a href="#"><span class="fa fa-clock-o"></span> Jan 4, 2014</a> &nbsp;
                                            <a href="#"><span class="fa fa-folder"></span> World</a>
                                        </p>
                                    </div>
                                    <hr>
                                </div>

                                <!--Comments-->
                                <div class="tab-pane fade" id="comments-aside">
                                    <ul class="recent-comments clearfix">
                                        <li>
                                            <div class="avatar">
                                                <a href="#" class="light">
                                                    <img src="http://placehold.it/75x75" alt="Siska">
                                                        <div class="layer"></div>
                                                </a>
                                            </div>
                                            <div class="content">
                                                <div class="comment-content">
                                                    <a href="#">Aliquam sollicitudin massa eu augue hendrerit</a>
                                                </div>
                                                <div class="comment-meta">
                                                    <a href="#"><i class="fa fa-user"></i> Siska</a>&nbsp;
                                                    <a href="#"><i class="fa fa-clock-o"></i> Jan 13, 2014</a>
                                                </div>
                                            </div>
                                        </li>

                                        <li>
                                            <div class="avatar">
                                                <a href="#" class="light">
                                                    <img src="http://placehold.it/75x75" alt="Fahri">
                                                        <div class="layer"></div>
                                                </a>
                                            </div>
                                            <div class="content">
                                                <div class="comment-content">
                                                    <a href="#">Fusce viverra ligula elit aliquam vel turpis ut</a>
                                                </div>
                                                <div class="comment-meta">
                                                    <a href="#" class="author"><i class="fa fa-user"></i> Fahri</a>&nbsp;
                                                    <a href="#"><i class="fa fa-clock-o"></i> Jan 13, 2014</a>
                                                </div>
                                            </div>
                                        </li>

                                        <li>
                                            <div class="avatar">
                                                <a href="#" class="light">
                                                    <img src="http://placehold.it/75x75" alt="Rahma">
                                                        <div class="layer"></div>
                                                </a>
                                            </div>
                                            <div class="content">
                                                <div class="comment-content">
                                                    <a href="#">eget facilisis erat aliquet tempus mi ligula consequat</a>
                                                </div>
                                                <div class="comment-meta">
                                                    <a href="#" class="author"><i class="fa fa-user"></i> Rahma</a>&nbsp;
                                                    <a href="#"><i class="fa fa-clock-o"></i> Jan 13, 2014</a>
                                                </div>
                                            </div>
                                        </li>

                                        <li>
                                            <div class="avatar">
                                                <a href="#" class="light">
                                                    <img src="http://placehold.it/75x75" alt="Rusli">
                                                        <div class="layer"></div>
                                                </a>
                                            </div>
                                            <div class="content">
                                                <div class="comment-content">
                                                    <a href="#">lacus sit amet tincidunt odio massa quis felis</a>
                                                </div>
                                                <div class="comment-meta">
                                                    <a href="#" class="author"><i class="fa fa-user"></i> Rusli</a>&nbsp;
                                                    <a href="#"><i class="fa fa-clock-o"></i> Jan 13, 2014</a>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </section>

                        <!-- ADS WIDGET -->
                        <section class="widget col-sm-6 col-md-12 no-mobile">
                            <!-- Widget Header -->
                            <header class="clearfix"><h4>Advertisement</h4></header>

                            <!-- Widget Content -->
                            <div class="frame thick">
                                <a href="#"><div data-src="http://placehold.it/300x250/f0f0f9" data-alt="Banner image"></div></a>
                            </div>
                            <img src="/assets/img/shadow.png" class="shadow" alt="shadow">
                        </section>

 
                    </div>
                </aside>
            </div>
        </div>
    </div><!--#content-->
{% endblock %}